<div role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center bg-secondary">
        <h5 class="heading">Are you absolutely sure?</h5>
      </div>

      <div class="modal-body">
        <p>This action cannot be undone. </p>
        <p>Please type <i>confirm</i> to confirm.</p>
      </div>
      <div>
        <input class="btn w-100 border-secondary" type="text">
      </div>
      <div>
        <button class="btn w-100 bg-transparent border-secondary text-danger">I understand what I do</button>
      </div>
    </div>
</div>
